.project-link {
	cursor: pointer;
}

.subhead {
	margin-top: -1em;
	margin-bottom: 0;
}

#page-head {
	margin-top: .5em;
}

.blue-text {
	color: #4183C4;
}

#crunched {
	margin: 0;
	padding: 0;
}

#squished {
	margin-bottom: 0;
	padding: 0;
}

#photo {
	margin: 0 auto;
	height: auto;
	position: relative;
	top: -4em;
	left: -20%;
	width: 140%;
}

#crop {
	position: relative;
	height: 20em;
	overflow: hidden;
	width: 75%;
	margin: 0 auto;

}

.header-list {
	list-style: none;
}

body {
	background-color: #f2f2f2;
}

div.ui.vertically.divided.grid.container > div#squished > div.eight.wide.column {
	margin-bottom: 0;
}


.ui[class*="two column"].grid > .row > .column, .ui[class*="two column"].grid > .column:not(.row) {
	width: 49%;
}

#modal {
	width: 90vw;
	height: 90vh;
	top: 5vh;
	left: 5vw;
	background-color: #fafafa;
}

.modal-content {
	width: 80%;
	margin: 5% auto;
	text-align: center;
}

embed {
	width: 100%;
	height: 60vh;
}

#shade {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.4);

}

.invisible {
	visibility: hidden;
}

.visible {
	visibility: visible;
}