.project-link {
	cursor: pointer;
}

.subhead {
	margin-top: -1em;
}

#page-head {
	margin-top: .5em;
}

.blue-text {
	color: #4183C4;
}

#crunched {
	margin: 0;
	padding: 0;
}

#squished {
	margin-bottom: 0;
	padding: 0;
}

#photo {
	margin: 0 auto;
	height: auto;
	position: relative;
	top: -4em;
	left: -20%;
	width: 140%;
}

#crop {
	position: relative;
	height: 20em;
	overflow: hidden;
	width: 75%;

}

.header-list {
	list-style: none;
}

body {
	background-color: #f2f2f2;
}

div.ui.vertically.divided.grid.container > div#squished > div.eight.wide.column {
	margin-bottom: 0;
}
