* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 1vh;
	font-family: 'Open Sans', sans-serif;
}

body {
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.5rem;
	min-width: 130rem;
}

header {
	height: 12rem;
	border-bottom: .1rem solid #029ab3;
	margin: 0 auto;
}

.header--index::before {
	content: '';
	width: 100%;
	height: 12rem;
	display: block;
	position: absolute;
	z-index: -1;
	background-color: #029ab3;
}

.header-content {
	display: flex;
	flex-wrap: none;
	height: 100%;
	width: 105rem;
	margin: 0 auto;
	padding: 2rem 0;
}

.header-link {
	height: 100%;
	width: 10%;
	font-size: 1.4rem;
	text-decoration: none;
}

.header-link--apple {
	background-image: url('assets/image_apple.svg');
	color: white;
	text-align: center;
	padding-top: 4rem;
}

.header--index .header-link--apple {
	display: none;
}

.header-link--book {
	color: #0291b3;
	background-image: url('assets/icon_book.svg');
	background-repeat: no-repeat;
	text-align: center;
	padding: 3.7rem 2rem 0 .4rem;
}

.header--index .header-link--book {
	color: white;
	background-image: url('assets/icon_book--index.svg');
}

.header-link--score {
	width: 20%;
	color: white;
	position: relative;
	top: 0;
	left: 0;
	padding-top: 3.5rem;
	text-align: center;
}

.header-link--score::before {
	content: '';
	position: absolute;
	top: 2rem;
	left: 0;
	height: 4.5rem;
	width: 100%;
	background-color: #a5c400;
	border-radius: 1.2rem;
	z-index: -1;
}

.header-link--score::after {
	content: '';
	position: absolute;
	top: 2.2rem;
	left: .2rem;
	height: 3.5rem;
	width: calc(100% - 1rem);
	border-radius: 1.2rem;
	border: .3rem solid white;
}

.header-nav {
	display: flex;
	height: 100%;
	width: 60%;
}

.header--index .header-nav {
	display: none;
}

.header-nav__link {
	height: 100%;
	width: 25%;
	padding: 2rem .4rem 0 2rem;
	border-right: .1rem dashed #029ab3;
	color: #0291b3;
	text-decoration: none;
}

.header-nav__link:hover {
	background-color: rgba(217, 240, 244, .4);
}

.header-nav__link:first-child {
	padding-top: 1rem;
}

.header-nav__link:last-child {
	border-right: 0px solid transparent;
}

.header-nav__link--active {
	background-color: rgb(217, 240, 244);
}

.index-title {
	display: none;
}

.header--index .index-title {
	display: block;
	color: white;
	font-size: 3rem;
	padding: 3.5rem 1.5rem 0 0;
}

main {
	height: 73rem;
}

.main__content {
	height: 100%;
	width: 105rem;
	margin: 0 auto;
	background-size: cover;
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.main__content--outdoors {
	background-image: url('./assets/Outdoor Scene_Image_bkgrnd.svg');
}

.main__content--class {
	background-image: url('./assets/Indoor_Scene_Bkgrnd-01.svg');
}

.main__content--welcome {
	background-image: url('./assets/White_Erase_Board_bkgrnd.svg');
}

.main__content--bulletin {
	background-image: url('./assets/Cork Board.svg');
}

.main__content--welcome .notepad, .main__content--bulletin .notepad {
	visibility: hidden;
}

.index-text {
	position: absolute;
	top: 0;
	left: -3rem;
	width: 45rem;
	padding: 2.5rem;
	border-radius: 0 0 2rem 2rem;
	background-color: #e6f5f7;
	color: #029ab3;
	font-size: 1.8rem;
	font-weight: 400;
	line-height: 2.5rem;
}

.apple-stem {
	position: absolute;
	top: 2rem;
	left: 49rem;
	width: 27rem;
	height: 20rem;
	background-image: url('assets/apple_stem_leaf.svg');
}

.pause-animations *, .pause-animations *::after {
	animation-play-state: paused !important;
}

.clickable-image {
	position: absolute;
	cursor: pointer;
}

.clickable-image:hover {
	filter: drop-shadow(0 0 .3rem white) drop-shadow(0 0 .3rem white) drop-shadow(0 0 .3rem white);
}

.clickable-image::after {
	content: '';
	box-sizing: content-box;
	position: absolute;
	height: 1.2rem;
	width: 1.2rem;
	background-color: black;
	background-clip: content-box;
	border-radius: 100%;
	animation: 2s pulse infinite;
}

@keyframes pulse {
	from {
		/* border: 0rem solid transparent; */
		box-shadow: 0 0 0 0 white;
		/* transform: translate(0,0); */
	}
	to {
		/* border: .5rem solid transparent; */
		box-shadow: 0 0 .5rem .5rem white, 0 0 .5rem .5rem white, 0 0 .5rem .5rem white;
		/* transform: translate(-.5rem, -.5rem); */
	}
}

@keyframes pulseGray {
	from {
		/* border: 0rem solid transparent; */
		box-shadow: 0 0 0 0 #f0f5eb;
		/* transform: translate(0,0); */
	}
	to {
		/* border: .5rem solid transparent; */
		box-shadow: 0 0 .5rem .5rem #f0f5eb, 0 0 .5rem .5rem #f0f5eb, 0 0 .5rem .5rem #f0f5eb;
		/* transform: translate(-.5rem, -.5rem); */
	}
}

.clickable-image:hover::after {
	animation-play-state: paused;
}

.clickable-image--one, .clickable-image--two, .clickable-image--three, .clickable-image--four {
	top: 17rem;
	left: 15rem;
	width: 46rem;
	height: 30rem;
	background-image: url('./assets/apple_section_1.svg');
	color: white;
	text-decoration: none;
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: 400;
	text-align: center;
	padding: 8rem;
}

.clickable-image--one:hover {
	filter: unset;
	background-image: url('./assets/apple_secion_1_Rollover.svg');
}

.clickable-image--two {
	top: 17.5rem;
	left: 52rem;
	background-image: url('./assets/apple_secion_2.svg');
	padding: 8rem 16rem 0rem 10rem;
}

.clickable-image--two:hover {
	filter: unset;
	background-image: url('./assets/apple_secion_2_Rollover.svg');
}

.clickable-image--three {
	top: 40rem;
	left: 16.3rem;
	background-image: url('./assets/apple_secion_3.svg');
	padding: 8rem 11rem;
}

.clickable-image--three:hover {
	filter: unset;
	background-image: url('./assets/apple_secion_3_Rollover.svg');
}

.clickable-image--four {
	top: 40rem;
	left: 52rem;
	background-image: url('./assets/apple_secion_4.svg');
	padding: 8rem 16rem 0rem 10rem;
}

.clickable-image--four:hover {
	filter: unset;
	background-image: url('./assets/apple_secion_4_Rollover.svg');
}

.clickable-image--one::after, .clickable-image--two::after, .clickable-image--three::after, .clickable-image--four::after {
	content: none;
}

.clickable-image--infants {
	height: 40rem;
	width: 26rem;
	top: 15rem;
	left: 10rem;
	background-image: url('./assets/Infants_board_small.svg');
}

.clickable-image--infants:hover {
	background-image: url('./assets/Infants_board_small_Rollover.svg');
}

.clickable-image--toddlers {
	height: 40rem;
	width: 26rem;
	top: 15rem;
	left: 38rem;
	background-image: url('./assets/Toddlers_board_small.svg');
}

.clickable-image--toddlers:hover {
	background-image: url('./assets/Toddlers_board_small_Rollover.svg');
}

.clickable-image--preschoolers {
	height: 40rem;
	width: 26rem;
	top: 15rem;
	left: 67rem;
	background-image: url('./assets/Preschools_board_small.svg');
}

.clickable-image--preschoolers:hover {
	background-image: url('./assets/Preschools_board_small_Rollover.svg');
}

.clickable-image--infants::after {
	top: 4rem;
	left: 18rem;
	animation: 2s pulseGray infinite;
}

.clickable-image--toddlers::after {
	top: 4rem;
	left: 18.5rem;
	animation: 2s pulseGray infinite;
}

.clickable-image--preschoolers::after {
	top: 4rem;
	left: 20rem;
	animation: 2s pulseGray infinite;
}

.clickable-image--animals {
	height: 26rem;
	width: 34rem;
	top: 20rem;
	left: 51rem;
	background-image: url('./assets/Kids_ActLikeAnimal.svg');
}

.clickable-image--catching {
	height: 22.4rem;
	width: 16rem;
	top: 10.6rem;
	left: 40rem;
	background-image: url('./assets/Kids_EasyCatching.svg');
}

.clickable-image--tag {
	height: 25rem;
	width: 20rem;
	top: 33.8rem;
	left: 24.6rem;
	background-image: url('./assets/Kids_ShadowTag.svg');
}

.clickable-image--together {
	height: 28rem;
	width: 35rem;
	top: 42rem;
	left: 44.7rem;
	background-image: url('./assets/Kids_LetsStickTogether.svg');
}

.clickable-image--sock {
	height: 24rem;
	width: 37rem;
	top: 46rem;
	left: 1rem;
	background-image: url('./assets/Kids_TugOnASock.svg');
}

.clickable-image--animals::after {
	top: 17rem;
	left: 35rem;
}

.clickable-image--catching::after {
	top: 5rem;
	left: 9rem;
}

.clickable-image--tag::after {
	top: 8.5rem;
	left: 18.5rem;
}

.clickable-image--together::after {
	top: 6.5rem;
	left: 20.4rem;
}

.clickable-image--sock::after {
	top: 7rem;
	left: 25rem;
}

.clickable-image--morning {
	height: 30rem;
	width: 16.8rem;
	top: 1rem;
	left: 16rem;
	background-image: url('./assets/People_MorningGreetings.svg');
}

.clickable-image--circle {
	height: 33rem;
	width: 48rem;
	top: 29.6rem;
	left: 35.5rem;
	background-image: url('./assets/People_CircleTime.svg');
}

.clickable-image--snack {
	height: 29rem;
	width: 19rem;
	top: 16.8rem;
	left: 3rem;
	background-image: url('./assets/People_MealSnackTime.svg');
}

.clickable-image--transitions {
	height: 22rem;
	width: 17.5rem;
	top: 10rem;
	left: 39.4rem;
	background-image: url('./assets/People_Transitions.svg');
}

.clickable-image--nap {
	height: 34rem;
	width: 29.5rem;
	top: 37rem;
	left: 2rem;
	background-image: url('./assets/People_Naptime.svg');
}

.clickable-image--plate {
	top: 12rem;
	left: 92rem;
	/* font-size 0; */
}

.clickable-image--morning::after {
	top: 2rem;
	left: 15rem;
}

.clickable-image--circle::after {
	top: 5rem;
	left: 17rem;
}

.clickable-image--snack::after {
	top: 4.5rem;
	left: 9.5rem;
}

.clickable-image--transitions::after {
	top: 7.5rem;
	left: 10.4rem;
}

.clickable-image--nap::after {
	top: 7rem;
	left: 25rem;
}

.clickable-image--plate::after {
	display: none;
}

.clickable-image--policies {
	height: 45rem;
	width: 35rem;
	top: 5rem;
	left: 6rem;
	background-image: url('./assets/image_Policies.svg');
}

.clickable-image--calendar {
	height: 48rem;
	width: 55rem;
	top: 10rem;
	left: 42rem;
	background-image: url('./assets/image_Calendar.svg');
}

.clickable-image--assessments {
	height: 41rem;
	width: 49rem;
	top: 30rem;
	left: 2rem;
	background-image: url('./assets/image_HA_Assessments.svg');
}

.clickable-image--toolkit {
	height: 44rem;
	width: 37rem;
	top: 24rem;
	left: 67rem;
	background-image: url('./assets/image_Toolkit.svg');
}

.clickable-image--wellness {
	height: 13rem;
	width: 18rem;
	top: 48rem;
	left: 55rem;
	background-image: url('./assets/image_Wellness_Policy.svg');
}

.clickable-image--policies::after {
	top: 13.5rem;
	left: 24rem;
}

.clickable-image--calendar::after {
	top: 23.5rem;
	left: 18rem;
}

.clickable-image--assessments::after {
	top: 19rem;
	left: 41rem;
}

.clickable-image--toolkit::after {
	top: 10rem;
	left: 29.5rem;
}

.clickable-image--wellness::after {
	top: 2.5rem;
	left: 8.5rem;
}

.number-circle {
	height: 3.4rem;
	width: 3.4rem;
	background-color: #a5c400;
	border: .3rem solid white;
	border-radius: 100%;
	box-shadow: 0 0 0 .3rem #a5c400;
	margin: 0 auto 1rem;
	line-height: 2.8rem;
	font-weight: bold;
}

.bee-button {
	position: absolute;
	top: 3rem;
	right: 0;
	animation: 1.5s linear buzzIn forwards, 20s ease-out 10s buzzAbout infinite;
	cursor: pointer;
	background-image: url('./assets/image_smallBee.svg');
	height: 4em;
	width: 3.7em;
	
	/* color: yellow; */
	/* font-size: 6rem; */
}

.main__content--index .bee-button {
	height: 15em;
	width: 14em;
}

@keyframes buzzIn {
	0% {
		transform: translate(0,0);
	}

	33% {
		transform: translate(-2rem, -1rem);
	}

	66% {
		transform: translate(-4rem, 1rem);
	}

	100% {
		transform: translate(-6rem, 0);
	}
}

@keyframes buzzAbout {
	4% {
		transform: translate(-7rem, -1rem);
	}
	8% {
		transform: translate(-5rem, -1rem);
	}
	12% {
		transform: translate(-7rem, 1rem);
	}
	16% {
		transform: translate(-5rem, 1rem);
	}
	0%, 20%, 100% {
		transform: translate(-6rem, 0rem);
	}
}

.notepad {
	background-image: url('assets/image_notebook.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 43rem;
	left: 81rem;
	padding: 9.5rem 3.5rem 7.2rem 0;
	font-family: 'Kalam', cursive, sans-serif;
}

.notepad__line {
	padding-left: 4.5rem;
	padding-right: 2rem;
	font-size: 1.4rem;
	line-height: 2.8rem;
	cursor: pointer;
	position: relative
}

.notepad__line:hover {
	background-color: #e8db6b;
	background-clip: content-box;
	box-sizing: content-box;
}

.notepad__line--checked::before {
	content: '';
	position: absolute;
	top: -.2rem;
	left: 2rem;
	background-image: url('assets/icon_checkmark.svg');
	background-repeat: no-repeat;
	width: 2.8rem;
	height: 2.8rem;
}

.line--thin {
	font-weight: normal;
}

.modal {
	width: 48rem;
	/* position: relative; */
	position: absolute;
	z-index: 2;
	display: none;
	background-color: rgba(255,255,255,.97);
	border-radius: 1rem;
}

.modal--active {
	display: block;
}

.modal--bee {
	width: 70rem;
}

.close-modal {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	font-size: 3rem;
	font-weight: normal;
	color: rgb(100,100,100);
	background-color: transparent;
	border: 0px solid transparent;
}

.close-modal::before {
	content: '';
	position: fixed;
	top: 12rem;
	left: 0;
	width: 100vw;
	height: 73rem;
	z-index: -1;
}

.modal-title {
	padding: 2.6rem 2.6rem 1.8rem;
	font-size: 2.7rem;
	line-height: 3.2rem;
	color: #029ab3;
	border-bottom: .2rem solid #029ab3;
}

.modal-title--bee {
	padding: 6.6rem 8rem 3.8rem 25rem;
	border-bottom: 0px solid transparent;
	color: white;
	position: relative;
}

.modal-title--bee::before {
	content: '';
	position: absolute;
	top: 4.4rem;
	left: 23rem;
	height: calc(100% - 6rem);
	width: 41rem;
	border-radius: 1.5rem;
	z-index: -1;
	background-color: #029ab3;
}

.modal-title--bee::after {
	content: '';
	position: absolute;
	top: calc(55% - .7rem);
	left: 19.5rem;
	border-right: 3.8rem solid #029ab3;
	border-top: 1.8rem solid transparent;
	border-bottom: 1rem solid transparent;
}

.modal-body {
	padding: 1.8rem 2.6rem 3.6rem;
	font-size: 1.5rem;
	line-height: 2.2rem;
	font-weight: normal;
	color: #029ab3;
}

.modal-body--bee {
	padding-left: 25rem;
	padding: .4rem 8rem 3.6rem 25rem;
}

.modal--infants, .modal--toddlers, .modal--preschoolers {
	background-image: url('assets/Infants_board_large.svg');
	background-color: white;
	height: 67rem;
}

.modal--toddlers {
	background-image: url('assets/Toddlers_board_large.svg');
}

.modal--preschoolers {
	background-image: url('assets/Preschools_board_large.svg');
}

.modal-body p {
	margin-bottom: 1.2rem;
}

.modal-body a {
	color: #a5c400;
}

.modal-body ul {
	margin-bottom: 1.2rem;
	padding: 0 3rem;
}

.modal-body li {
	margin-bottom: .8rem;
}

.modal-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 23rem;
	height: 100%;
	background-image: url('assets/image_PopUpBee.svg');
	background-repeat: no-repeat;
	border-top: 4.6em solid transparent;
	border-left: 1.6em solid transparent;
}

.modal-button-container {
	display: flex;
	justify-content: space-evenly;
	margin: 1rem;
}

.modal-button {
	cursor: pointer;
	color: #029ab3;
	width: 16rem;
	height: 3.5rem;
	font-size: 1.5rem;
	background-color: transparent;
	border: .3rem solid #029ab3;
	border-radius: .5rem;
}

.modal-button:hover {
	background-color: #029ab3;
	color: white;
	border-color: white;
	box-shadow: 0 0 0 .3rem #029ab3;
}

.welcome-header {
	position: absolute;
	top: 10rem;
	font-size: 5rem;
}

.welcome-svg {
	position: absolute;
	top: 4rem;

	/* left: 18rem; */
	/* opacity: .5; */
}

.welcome-subheader {
	font-family: 'Kalam';
	font-size: 2.5rem;
	font-weight: 700;
	/* margin-top: 42rem; */
	position: relative;
	top: 22rem;
}

.welcome-subheader--em {
	color: red;
}

.welcome-title {
	font-family: 'Kalam';
	font-size: 2.3rem;
	margin-top: 5.4rem;
	padding-left: 10.45rem;
}

.welcome-title--preschoolers {
	padding-left: 7.5rem;
}

.modal .welcome-title {
	padding-left: 3rem;
	text-align: center;
	margin-top: 8rem;
	font-size: 3.5rem;
}

.welcome-time {
	width: 6rem;
	margin-left: 13.7rem;
	color: white;
	font-size: 1.7rem;
	font-weight: 400;
	text-align: center;
}

.modal .welcome-time {
	margin-top: 1rem;
	margin-left: 26.6rem;
	font-size: 2.9rem;
}

.welcome-time--bold {
	margin-top: 4.5rem;
	font-weight: 900;
}

.modal .welcome-time--bold {
	margin-top: 8.5rem;
}

.welcome-block {
	display: flex;
	flex-wrap: wrap;
	padding: 2.8rem 1.4rem 0;
}

.modal .welcome-block {
	padding: 5.5rem 5rem 0;
}

.welcome-block__entry {
	width: 50%;
	padding: 0 2rem;
	height: 4.8rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: white;
}

.modal .welcome-block__entry {
	height: 7.5rem;
	font-size: 2rem;
	line-height: 2rem;
}

.welcome-block__entry--body {
	font-family: 'Kalam';
	font-weight: 400;
	line-height: 1.3rem;
	color: black;
	height: 11rem;
	padding: 0 1.01rem;
}

.modal .welcome-block__entry--body {
	height: 18.5rem;
	padding: 0rem 1.5rem;
}

.welcome-footer {
	color: #0291b3;
	text-align: center;
	padding: 1.3rem 2.3rem;
}

.modal .welcome-footer {
	font-size: 2rem;
	line-height: 2.2rem;
	padding: 2rem 6rem;
}

.bulletin-header {
	position: absolute;
	top: 7rem;
	left: 6rem;
	width: 100%;
	color: white;
	text-align: center;
}

footer {
	height: 15rem;
	border-top: 1rem solid #029ab3;
	display: flex;
	justify-content: center;
}

.footer-link {
	width: 18rem;
	font-size: 0;
	margin: 1rem 0;
	background-repeat: no-repeat;
	background-position: center;
}

.footer-link--children {
	background-image: url('assets/logo_ChildrensCouncil.svg');
}

.footer-link--apple {
	background-image: url('assets/logo_HealthyApple.svg');
}

.footer-link--heart {
	background-image: url('assets/logo_HealthyHearts.svg');
	background-size: 70%;
}

.extra-bold {
	font-weight: 900;
}

.italics {
	font-style: italic;
}

@media (max-aspect-ratio: 13/10) {
	html {
		font-size: .8vw;
	}
}

@media (max-height: 800px) {
	html {
		font-size: 10px;
	}
}
